.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.Home-text {
  background-color: white;
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  opacity: 75%;
  font-weight: 600;
}
