ul {
  list-style-type: none;
}

li {
  margin: 10px;
}

.Nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  background-color: steelblue;
}

/* li: nth-child(); */
